/* IMAGENES GRID */
.objbox img:hover{
	cursor:pointer;
}

.gridAfterForm{
	display:inline-block;
	position:absolute;
	left: 155px;
	bottom:185px;
	top:410px;
}

.gridAfterForm select{
	padding:0;
	margin:1px;
	display:inline;
}

.gridAfterForm input{
	padding:0;
}

#noRecords{
	font-family: 'open_sanslight';
	color:#AC233E;
}

#noRecords2{
	font-family: 'open_sanslight';
	color:#AC233E;
}
