/* BODY */

body{
	font-size: large;
	margin:0 auto;
}


/* HEADER */

.divHeader {
	background: #243356; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0MzM1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjNmY5MWI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTclIiBzdG9wLWNvbG9yPSIjNTg2MzdhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjQlIiBzdG9wLWNvbG9yPSIjMjQzMzU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzElIiBzdG9wLWNvbG9yPSIjMjQzMzU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzYlIiBzdG9wLWNvbG9yPSIjNTg2MzdhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDQlIiBzdG9wLWNvbG9yPSIjNmY5MWI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTclIiBzdG9wLWNvbG9yPSIjNTg2MzdhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjIlIiBzdG9wLWNvbG9yPSIjNTg2MzdhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjklIiBzdG9wLWNvbG9yPSIjMjQzMzU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #243356 0%, #6f91b7 9%, #58637a 17%, #243356 24%, #243356 31%, #58637a 36%, #6f91b7 44%, #58637a 57%, #58637a 62%, #243356 69%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#243356), color-stop(9%,#6f91b7), color-stop(17%,#58637a), color-stop(24%,#243356), color-stop(31%,#243356), color-stop(36%,#58637a), color-stop(44%,#6f91b7), color-stop(57%,#58637a), color-stop(62%,#58637a), color-stop(69%,#243356)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #243356 0%,#6f91b7 9%,#58637a 17%,#243356 24%,#243356 31%,#58637a 36%,#6f91b7 44%,#58637a 57%,#58637a 62%,#243356 69%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #243356 0%,#6f91b7 9%,#58637a 17%,#243356 24%,#243356 31%,#58637a 36%,#6f91b7 44%,#58637a 57%,#58637a 62%,#243356 69%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #243356 0%,#6f91b7 9%,#58637a 17%,#243356 24%,#243356 31%,#58637a 36%,#6f91b7 44%,#58637a 57%,#58637a 62%,#243356 69%); /* IE10+ */
	background: linear-gradient(to bottom, #243356 0%,#6f91b7 9%,#58637a 17%,#243356 24%,#243356 31%,#58637a 36%,#6f91b7 44%,#58637a 57%,#58637a 62%,#243356 69%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#243356', endColorstr='#243356',GradientType=0 ); /* IE6-8 */

	height:80px;
	display:block;
	margin:0 1%;
	
	min-width: 890px;
}

.divHeader table{
	font-family: 'Exo 2',"Lucida Sans", sans-serif;
	color: #edf5ff;
	text-align: center
}

.divHeader h1{
	font-size: 225%;
	opacity: 0.8;
	text-shadow:1px 1px #7d98b8;
}

.divHeader h3{
	color:#E3EDFA;
	margin-top: -3%;
	font-size: 91%;
	opacity: 0.8;
}

/* MENU */
.divMenu {
	background: #fff2b5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjJiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmVlNjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fff2b5 0%, #ffee69 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff2b5), color-stop(100%,#ffee69)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff2b5 0%,#ffee69 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff2b5 0%,#ffee69 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff2b5 0%,#ffee69 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff2b5 0%,#ffee69 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff2b5', endColorstr='#ffee69',GradientType=0 ); /* IE6-8 */

	height:30px;
	display:block;
	margin:0 1%;
	
	vertical-align:center;
	
	min-width: 890px;
}

/* CREACION DEL MENU A PARTIR DE UNA LISTA*/
.menu{
	padding:0;
	margin:0;
}

.menu li{
	display:inline;
}

.menu li a{
	/*font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;*/
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	font-size:100%;
	color:#304369;
	text-decoration:none;
	float:left;
	padding:0.3% 1% 0 2%;
	vertical-align:center;

}

.menu li a:hover{
	background: #fff8dd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjhkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWRmOTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fff8dd 0%, #f9df98 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff8dd), color-stop(100%,#f9df98)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff8dd 0%,#f9df98 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff8dd 0%,#f9df98 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff8dd 0%,#f9df98 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff8dd 0%,#f9df98 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8dd', endColorstr='#f9df98',GradientType=0 ); /* IE6-8 */
	height:26px;
	font-size:103%;
}

.menu2{
	padding:0;
	margin:0;
}

.menu2 li{
	display:inline;
}

.menu2 li a,#en_US,#es_ES{
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	font-size:75%;
	color:#304369;
	float:right;
	padding:0.5% 1% 0 1%;
	vertical-align:center;

}
.menu2 label{
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	font-size:75%;
	color:#304369;
	float:right;
	padding:0.5% 1% 0 1%;
	vertical-align:center;
}

.menu2 li a:hover{
	background: #fff8dd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZjhkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOWRmOTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fff8dd 0%, #f9df98 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff8dd), color-stop(100%,#f9df98)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fff8dd 0%,#f9df98 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fff8dd 0%,#f9df98 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fff8dd 0%,#f9df98 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fff8dd 0%,#f9df98 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8dd', endColorstr='#f9df98',GradientType=0 ); /* IE6-8 */
	font-size:80%;
	height:24px;
}

#en_US,#es_ES:hover{
	cursor:pointer;
}

/* CONTENT FORUMLARIO */

.divContent {
	margin:1% 1%;
	height:100%;
}

.formulario{
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	font-size:70%;
	color:#AC233E;
	display:inline-block;
	position:absolute;
	left: 155px;
	bottom:185px;
	top:120px;
	min-width: 75%;
}

.formulario td{
	min-width:100px;
	padding:0 0.3em;
	font-size:90%;
	min-height: 26px;
	border-radius: 2px;
}

.td_label{
	background-color:#AC233E;
	color:#FFFFFF;
}

.formulario input[type='text'],input[type='password']{
	width:200px;
	padding:0.3em;
}

.formulario input[type='submit'],input[type='button']{
	color:#AC233E;
	background-color: white;
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	border: 2px solid #AC233E;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 3px 0px rgba(50, 50, 50, 0.75);
	font-weight: bold;
	border-radius: 5px;
	padding:0.2em 0.6em;
	margin:10px 0px 0px -3px;
	
}
.formulario input[type='submit']:hover,input[type='button']:hover{
	cursor: pointer;
	color:white;
	background-color: #AC233E;
	border: 2px solid #white;
}

.formulario input[type='submit']:active,input[type='button']:active{
	position:relative;
	top:1px;

}

.formulario input:focus,select:focus{
	box-shadow: 0 0 7px #bfdaff;
}

/*CONTENT ACCORDION*/

.accordionStyle{
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	color:#AC233E;
	font-size:70%;
}

#accordion .ui-accordion-content {  
    width: 100%;  
    background-color: #FFFFE0 ; 
    color: black;  
  
}

#accordion .ui-accordion-content > * {  
    margin: 0;  
    padding: 20px 0px 0px 7px;  
} 

#accordion .ui-accordion-header {  
    background-color: white;  
    margin: 0px;  
    padding:8px 0 8px 20px;
} 

#accordion .ui-accordion-header:hover {  
    background-color: #AC233E;
    color:white;
    cursor:pointer;  
}

#accordion .ui-accordion-header.ui-state-active{
	background-color: #AC233E;
    color:white;
    cursor:pointer;  
} 

.td_label_info{
	color:#AC233E;
	font-weight: bold;
	text-align:right;
}

.iconOpen {
    background:url('../img/accordion.png') no-repeat !important;
    background-size:20px !important;
    width:20px;
    height:20px;
}
.iconClosed {
    background:url('../img/accordion.png') no-repeat -5px!important;
    background-size:30px !important;
    width:20px;
    height:20px;
}


/* SUBMENU*/
.submenu{
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	margin-left:5px;
	display: inline-block;
	position: absolute;
	top:132px;
}

.submenuitem{
	font-size: 80%;
	text-align: left;	
	margin-top: 5px;
}

.submenuitem img{
	margin:-5px auto;
}

.submenuitem a:hover{
	font-weight: bold;
}

.submenuitem a{
	color:#304369;
	text-decoration: none;
	margin-left:5px;
}

/* MENU SIN ENLACE*/
.submenuitem2{
	font-size: 80%;
	text-align: left;	
	margin-top: 5px;
}

.submenuitem2 img{
	margin:-5px auto;
}

.submenuitem2 a:hover{
	cursor: default;
}

.submenuitem2 a{
	color:#304369;
	text-decoration: none;
	margin-left:5px;
}

/* MODAL WINDOW */
.modalDialog {
	position: fixed;
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;

}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/*MODAL WINDOW 2*/

.modalDialog2 {
	position: fixed;
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog2:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog2 > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close2 {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close2:hover { background: #00d9ff; }


/*TRANSCRIPTIONS*/
.transc{
	background-color: transparent;
	position:absolute;
}

.transc:hover{
	background-color: transparent;
	border:3px dashed #AC233E;
	position:absolute;
	cursor: pointer;
}

/*TEXT*/
.textUbupal{
	color:#AC233E;
	font-family: 'Open Sans',Verdana,Arial,Tahoma,"DejaVu Sans",sans-serif;
	margin:0 2%;
}
